{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block nav %}{% endblock %}
{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1 class="text-center">Please log in:</h1>
    <hr/>
    <form>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" value="{{ last_username }}" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" required>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    </form>
</form>
{% endblock %}
