{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Project</th>
                <td>{{ task.project.title }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ task.duration }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" href="{{ path('task_index') }}"><i data-feather="chevrons-left"></i> Back to list</a>
        <a class="btn btn-warning" href="{{ path('task_edit', {'id': task.id}) }}"><i data-feather="edit-3"></i> Edit</a>
    </div>
    <hr/>
    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
