{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <a class="btn btn-success float-right" href="{{ path('project_new') }}"><i data-feather="plus-circle"></i> Add</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Company</th>
                <th>Client</th>
                <th>Description</th>
                <th>Status</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.company ? project.company.name : '' }}</td>
                <td>{{ project.client ? project.client.name : '' }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.status }}</td>
                <td>{{ project.duration }}</td>
                <td>
                    <a class="btn btn-primary btn-small btn-block" href="{{ path('project_show', {'id': project.id}) }}">View</a>
                    <a class="btn btn-warning btn-small btn-block" href="{{ path('project_edit', {'id': project.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if maxPages > 1 %}
        <nav aria-label="Projects navigation">
            <ul class="pagination">
                {# `«` arrow  #}
                <li class="page-item {{ page == 1 ? 'disabled' }}">
                    <a class="page-link" href="{{ path('project_index', {page: page - 1 < 1 ? 1 : page - 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {# Render each page number #}
                {% for i in 1..maxPages %}
                    {% if (maxPages > 10 and (i <= 3 or i > maxPages - 3)) or maxPages <= 10 %}
                    <li class="page-item {{ page == i ? 'active' }}">
                        <a class="page-link" href="{{ path('project_index', {page: i}) }}">{{ i }}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                {# `»` arrow #}
                <li class="page-item {{ page == maxPages ? 'disabled' }}">
                    <a class="page-link" href="{{ path('project_index', {page: page + 1 <= maxPages ? page + 1 : page}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}
