{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <a class="btn btn-success float-right" href="{{ path('project_new') }}"><i data-feather="plus-circle"></i> Add</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Company</th>
                <th>Client</th>
                <th>Description</th>
                <th>Status</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.company ? project.company.name : '' }}</td>
                <td>{{ project.client ? project.client.name : '' }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.status }}</td>
                <td>{{ project.duration }}</td>
                <td>
                    <a class="btn btn-primary btn-small btn-block" href="{{ path('project_show', {'id': project.id}) }}">View</a>
                    <a class="btn btn-warning btn-small btn-block" href="{{ path('project_edit', {'id': project.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
