{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ project.client ? project.client.name : '' }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ project.company ? project.company.name : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ project.status }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ project.duration }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" href="{{ path('project_index') }}"><i data-feather="chevrons-left"></i> Back to list</a>
        <a class="btn btn-warning" href="{{ path('project_edit', {'id': project.id}) }}"><i data-feather="edit-3"></i> Edit</a>
    </div>
    <hr/>
    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
